@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@theme {
    --color-sky: #5DC3EC;
    --color-grass: #B4CF9B;
    --color-interstate-green: #008551;
    --color-signpost-gray: #4A5565;
    --sky-gradient: linear-gradient(182deg, #5DC3EC 1.8%, #CAF0FF 72.79%);

    --font-overpass: "Overpass", sans-serif;
}